<div class="top-bar">
  <div class="left"><h1><i class="fa fa-plus"></i> Create new task</h1></div>
  <div class="right">
    <p>Currently logged in as:</p>
    <img class="profile-pic-circle" src="./assets/{{UsersService.loggedUser.picture}}" tooltip="{{UsersService.loggedUser.name}}">
    <div class="button-wrapper"><button (click)="cancelAdd()"><i class="fa fa-times"></i></button></div>
  </div>
</div>
<hr>
<div class="modal-header">
  <input type="text" placeholder="Write your title here..." [(ngModel)]="newItem.title">
</div>
      <div class="modal-body">
        <textarea placeholder="Description goes here..." [(ngModel)]="newItem.description"></textarea>
        <hr>
        <div class="details-content">
          <div class="details-subcontainer calendar-container">
            <p class="pointer" data-id="startCalendar" (click)="toggleCalendar($event)"><i class="fa fa-calendar-plus-o"></i> Start date: <span class="detail-info" data-id="startCalendar">{{newItem.startdate | date:'dd-MM-yyyy'}}<span *ngIf="!newItem.startdate" data-id="startCalendar">Pick a date</span></span></p>
            <p class="pointer" data-id="deadline" (click)="toggleCalendar($event)"><i class="fa fa-calendar-check-o"></i> Deadline: <span class="detail-info" data-id="deadline">{{newItem.deadline | date:'dd-MM-yyyy'}}<span *ngIf="!newItem.deadline" data-id="deadline">Pick a date</span></span></p>

            <div class="big-calendar-wrapper" *ngIf="showCalendar === 'startCalendar'">
              <div class="calendar-wrapper">
                <h5>Pick a start date:</h5>
                <datepicker [(ngModel)]="newItem.startdate" [minDate]="minDate" [showWeeks]="true"></datepicker>
                </div>
              <div class="calendar-background" (click)="toggleCalendar($event)"></div>
            </div>

            <div class="big-calendar-wrapper" *ngIf="showCalendar === 'deadline'">
              <div class="calendar-wrapper">
                <h5>Pick a deadline:</h5>
              <datepicker [(ngModel)]="newItem.deadline" [minDate]="minDate" [showWeeks]="true"></datepicker>
              </div>
              <div class="calendar-background" (click)="toggleCalendar($event)"></div>
            </div>


          </div>
          <div class="details-subcontainer">
            <p><i class="fa fa-money"></i> Budget: <span class="detail-info"><input class="budget" type="number" [(ngModel)]="newItem.budget"></span></p>
            <p><i class="fa fa-print"></i> Print Protocol: 
            <span class="detail-info">
              <div class="btn-group" dropdown>
                <button id="single-button" type="button" class="btn print-btn" dropdownToggle>
                  <span *ngIf="newItem.print === false">No</span><span *ngIf="newItem.print === true">Yes</span><span class="caret"></span>
                </button>
                <ul dropdownMenu role="menu" aria-labelledby="single-button">
                  <li role="menuitem"><a class="dropdown-item" (click)="togglePrint($event)">Yes</a></li>
                  <li role="menuitem"><a class="dropdown-item" (click)="togglePrint($event)">No</a></li>
                </ul>
              </div>
            </span></p>
          </div>
          <div class="details-subcontainer no-padding">
              <div class="search-field"><p>Assign participants:</p><div class="search-wrapper"><label><i class="fa fa-search"></i></label><input class="search-emp" type="text" placeholder="Search Employees" [(ngModel)]="UsersService.currentSearch" (blur)="focusfun()" (focus)="focusfun()"><label class="drp-dwn"><i class="fa fa-sort-desc"></i></label></div></div>
              <div class="p-drop-down" *ngIf="showEmplList">
                <ul>
                  <li *ngFor="let user of PostsService.users | searchEmployee:UsersService.currentSearch | checkArray" (click)="selectedEmpl(user)">
                    <img class="profile-pic-circle" src="{{user.image}}"><p>{{user.name}}<br><span>{{user.department.name}}</span></p>
                  </li>
                </ul>
              </div>
          </div>
        </div>
        <button class="btn btn-success save" (click)="addItem()"><i class="fa fa-clipboard"></i> Save</button>
        <div class="participant-container">
            <div *ngIf="newItem.participent">
              <div class="p-obj" *ngFor="let p of newItem.participent"><img class="profile-pic-circle" src="{{p.image}}" tooltip="{{p.name}}" placement="left">
                <button class="close" (click)="deleteP(p)"><i class="fa fa-times"></i></button>
              </div>
            </div>
        </div>
      </div><!--modal-body-->
