<div class="sidenav-wrapper">
    <div class="side-bar">
      <img class="logo" src="../../assets/white-logo.svg">
      <hr>
      <div class="profile-area">
        <img src="../../assets/{{UsersService.loggedUser.picture}}">
        <div class="tag-area" (click)="toggleProfileNav()">
              <h5>{{UsersService.loggedUser.name}}</h5> <b class="caret" [class.caret-switch]="profileNavCtrl"></b>
              <h6>{{UsersService.loggedUser.position}}</h6>
              <ul class="nav" [class.opennav]="profileNavCtrl">
                <li><a href=""><p>my profile</p></a></li>
                <li><a href=""><p>edit profile</p></a></li>
                <li><a href=""><p>settings</p></a></li>
              </ul>
        </div>
      </div>
      <hr>
      <ul class="nav">
        <li [class.active-nav]="NavService.selectedNav === 'home'" (click)="selectMenu('home')"><a href="#"><i class="fa fa-home fa-fw"></i><p>home</p></a></li>
        <li [class.active-nav]="NavService.selectedNav === 'calendar'" (click)="selectMenu('calendar')"><a href="#"><i class="fa fa-calendar fa-fw"></i><p>calendar</p></a></li>
        <li [class.active-nav]="NavService.selectedNav === 'tasks'" (click)="selectMenu('tasks')"><a href="#"><i class="fa fa-list fa-fw"></i><p>tasks</p></a></li>
        <li [class.active-nav]="NavService.selectedNav === 'styleguide'" (click)="selectMenu('styleguide')"><a href="#"><i class="fa fa-map-o fa-fw"></i><p>styleguide</p></a></li>
        <li [class.active-nav]="NavService.selectedNav === 'print checklist'" (click)="selectMenu('print checklist')"><a href="#"><i class="fa fa-print fa-fw"></i><p>print checklist</p></a></li>
      </ul>
    </div>
    <div class="background-color"></div>
    <div class="background-image"></div>
</div>
