<div class="task-wrapper" *ngFor="let item of TaskService.items | user:TaskService.myTask | search:TaskService.currentSearch | tabFilter:TaskService.currentTab | orderById | orderByDone let idx = index" [class.task-done]="item.adminapprove === true">
    <div class="header">
      <h1 [hidden]="editActive === idx">{{item.title}}</h1>
      <input class="edit-header" type="text" value="{{item.title}}" *ngIf="editActive === idx" [(ngModel)]="currentTask.title">
      <div class="right-content">
        <p><i class="fa fa-users"></i>  Participants:</p>
        <img  *ngFor="let p of item.participent" class="profile-pic-circle" [class.white-profile-pic-circle]="item.status === 'done'" src="../../assets/{{p.picture}}" tooltip="{{p.name}}">
      </div>
    </div>
      <div class="status-wrapper">
        <p class="status"><i class="fa fa-check-circle fa-fw" [class.fa-pause-circle-o]="item.status === 'on hold'"></i> Status: {{item.status}}</p>
        <p class="pointer" tooltip="Put this task on hold" *ngIf="item.status === 'active' && UsersService.loggedUser.admin" (click)="setHold(item)"><i class="fa fa-pause fa-fw"></i> Put on hold</p>
        <p class="pointer" tooltip="Activate this task again" *ngIf="item.status === 'on hold' && UsersService.loggedUser.admin" (click)="setActive(item)"><i class="fa fa-play fa-fw"></i> Set to active</p>
        <p *ngIf="item.papprove === true"><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i> Waiting for admin approval</p>
        <p class="pointer" [hidden]="editActive === idx" *ngIf="UsersService.loggedUser.admin" (click)="enableEdit(item, idx, $event)"><i class="fa fa-pencil-square-o fa-fw"></i> Edit text</p>
        <p class="pointer save-changes" (click)="enableEdit(item, idx, $event)" *ngIf="editActive === idx"><i class="fa fa-save"></i><b> Save changes</b></p>
        <p class="pointer" *ngIf="item.status === 'done' && UsersService.loggedUser.admin" (click)="reopen(item)"><i class="fa fa-refresh"></i> Re-open</p>
        <p class="pointer" *ngIf="this.TaskService.deleteActivation === true" (click)="delete(item, idx)"><i class="fa fa-trash-o"></i> Delete</p>
        <p class="" *ngIf="item.adminapprove">Task completed and approved on: <b>{{DatepickerService.dt | date: 'dd-MM-yyyy'}}</b></p>
      </div>
  <p class="description" [hidden]="editActive === idx">{{item.description}}</p>
  <textarea class="edit-description" *ngIf="editActive === idx" [(ngModel)]="currentTask.description">{{item.description}}</textarea>

  <hr>

  <div class="details-content">
    <div class="details-subcontainer">
      <p class="pointer" (click)="openCalendarStart(idx, item)"><i class="fa fa-calendar-plus-o"></i> Start date: <span class="detail-info">{{item.startdate | date:'dd-MM-yyyy'}}</span></p>
      <p class="pointer" (click)="openCalendarDeadline(idx, item)"><i class="fa fa-calendar-check-o"></i> Deadline: <span class="detail-info">{{item.deadline | date:'dd-MM-yyyy'}}</span></p>

      <div class="big-calendar-wrapper" *ngIf="DatepickerService.setCalendarStartDate === idx">
        <div class="calendar-wrapper">
          <h5>Pick a start date:</h5>
          <datepicker [(ngModel)]="DatepickerService.currentDate.startdate" [minDate]="minDate" [showWeeks]="true"></datepicker>
          </div>
        <div class="calendar-background" data-id="close" (click)="closeCalendar()"></div>
      </div>

      <div class="big-calendar-wrapper" *ngIf="DatepickerService.setCalendarDeadline === idx">
        <div class="calendar-wrapper">
          <h5>Pick a deadline:</h5>
        <datepicker [(ngModel)]="DatepickerService.currentDate.deadline" [minDate]="minDate" [showWeeks]="true"></datepicker>
        </div>
        <div class="calendar-background" (click)="closeCalendar()"></div>
      </div>

    </div>
    <div class="details-subcontainer">
      <p [hidden]="editActive === idx"><i class="fa fa-money"></i> Budget: <span class="detail-info">{{item.budget}} DKK</span></p>
      <p *ngIf="editActive === idx"><i class="fa fa-money"></i> Budget: <span class="detail-info"><input class="budget-input" type="number" value="{{item.budget}}" [(ngModel)]="currentTask.budget"> DKK</span></p>
      <p [hidden]="editActive === idx"><i class="fa fa-print"></i> Print Protocol: <span class="detail-info"><i class="fa fa-check-circle" *ngIf="item.print === true" tooltip="Remember to use the print protocol"></i><i class="fa fa-times" *ngIf="item.print === false" tooltip="There is no print protocol"></i></span></p>
      <p *ngIf="editActive === idx"><i class="fa fa-print"></i> Print Protocol: <span class="detail-info" tooltip="Select if print protocol is required" placement="bottom"><i class="fa fa-check-circle pointer edit-print" [class.selected-print]="item.print" (click)="printSelector($event, item)"></i><i class="fa fa-times pointer edit-print" [class.selected-print]="!item.print" (click)="printSelector($event, item)"></i></span></p>
    </div>
    <div class="details-subcontainer">
      <p><i class="fa fa-map-marker"></i><input *ngIf="editActive === idx" value="{{item.location}}" [(ngModel)]="item.location"> <span [hidden]="editActive === idx">{{item.location}}</span></p>
       <p class="pointer" (click)="pApprove(item)"><span *ngIf="!UsersService.loggedUser.admin && !item.papprove && !item.status === 'done'"><i class="fa fa-thumbs-o-up"></i> Approve and wait for check</span><span *ngIf="item.papprove && UsersService.loggedUser.admin === false" tooltip="You have approved this task and currently waiting for approval" placement="bottom"><i class="fa fa-check"></i> You have approved this task</span></p>
      <p *ngIf="item.papprove === true && UsersService.loggedUser.admin === true"><i class="fa fa-spinner fa-pulse fa-3x"></i> Waiting for admin approval: <span class="approve-wrapper"><i class="pointer fa fa-check"(click)="adminApprove(item)" tooltip="Approve"></i><i class="pointer fa fa-times"(click)="deny(item)" tooltip="Deny"></i></span></p>
    </div>
    <div class="details-subcontainer orderby">
      <p>Ordered by:</p><img class="profile-pic-circle" *ngFor="let orderby of item.orderby" [class.white-profile-pic-circle]="item.status === 'done'" src="../../assets/{{orderby.picture}}" tooltip="{{orderby.name}}">
    </div>
  </div>
</div>
