<div class="task-wrapper" *ngFor="let item of TaskService.tasks" [class.task-done]="item.adminaprov === true">
  <div class="header">
    <h1>{{item.title}}</h1>
    <div class="right-content">
      <p><i class="fa fa-users"></i>  Participants:</p><img class="profile-pic-circle" src="../../assets/{{item.participentpic}}" tooltip="{{item.participent}}">
    </div>
  </div>
    <div class="status-wrapper">
      <p><i class="fa fa-check-circle" [class.fa-pause-circle-o]="item.status === 'On hold'"></i> Status: {{item.status}}</p><p *ngIf="item.papprove === true"><i class="fa fa-spinner fa-pulse fa-3x"></i> Waiting for admin approval</p><p><i class="fa fa-pencil-square-o"></i> Edit</p>
    </div>
<p class="description">{{item.description}}</p>

<hr>

<div class="details-content">
  <div class="details-subcontainer">
    <p><i class="fa fa-calendar-plus-o"></i> Start date: <span class="detail-info">{{item.startdate}}</span></p>
    <p><i class="fa fa-calendar-check-o"></i> Deadline: <span class="detail-info">{{item.deadline}}</span></p>
  </div>
  <div class="details-subcontainer">
    <p><i class="fa fa-money"></i> Budget: <span class="detail-info">{{item.budget}}</span></p>
    <p><i class="fa fa-print"></i> Print Protocol: <span class="detail-info"><i class="fa fa-check-circle"></i></span></p>
  </div>
  <div class="details-subcontainer location">
    <p [style.padding-top]="item.papprove ? '0px':'15px'"><i class="fa fa-map-marker"></i><span class="detail-info">{{item.location}}</span></p>
    <p *ngIf="item.papprove === true"><i class="fa fa-spinner fa-pulse fa-3x"></i> Waiting for admin approval: <input type="checkbox"></p>
  </div>
  <div class="details-subcontainer orderby">
    <p>Ordered by:</p><img class="profile-pic-circle" src="../../assets/{{item.orderbypic}}" tooltip="{{item.orderby}}">
  </div>
</div>
</div>
