/* You can add global styles to this file, and also import other style files */
@import "~variables.scss";
body{
  min-height:100vh;
  position:relative;
  font-family:$font-opensans;
}
a{
  text-decoration: none;
}
p{
  color:$gray-font;
}
h1{
  color:$ordbogen-green;
}
.caret-switch{
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}
.fa-check-circle{
  color:$ordbogen-green;
}
.profile-pic-circle{
  display:inline-block;
  border-radius:50%;
  width:40px;
  border: 3px solid rgba(0, 163, 136, 0.28);
  margin-left:10px;
  &:hover{
    border: 3px solid rgba(0, 163, 136, 0.51);
  }
}
