/* You can add global styles to this file, and also import other style files */
@import "~variables.scss";
body{
  min-height:100vh;
  position:relative;
  font-family:$font-opensans;
}
a{
  text-decoration: none;
}
p{
  color:$gray-font;
}
h1{
  color:$ordbogen-green;
}
[hidden]{
  display:none!important;
}
.caret-switch{
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}
.fa-check-circle{
  color:$ordbogen-green;
}
.profile-pic-circle{
  display:inline-block;
  border-radius:50%;
  width:40px;
  border: 3px solid rgba(0, 163, 136, 0.28);
  margin-left:10px;
  &:hover{
    border: 3px solid $picture-border-white;
  }
}
.pointer{
  cursor: pointer;
  &:hover{
      opacity: 0.8;
  }
}
.white-profile-pic-circle{
  border: 3px solid rgba(255, 255, 255, 0.58);
}
.calendar-wrapper{
  position:absolute;
  width:310px;
  z-index:1050;
  top:-210px;
  left:190px;
  h5{
    text-align:center;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color:#f5f5f5;
    margin-bottom:-2px;
    padding: 10px 5px 10px 5px;
  }
}
.calendar-background{
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index: 1020;
  outline:0;
  background-color:#333;
  opacity:0.4;
}
.search-field{
  position:relative;
  min-width:300px;
  margin-left:10px;
  display:inline-block;
  color:$gray-font;
  label{
    position:absolute;
    left:8px;
    top:5px;
    margin-bottom:0;
  }
  input{
    border-radius:$border-radius;
    min-width:300px;
    border:none;
    padding: 5px 10px 5px 25px;
    outline:0;
    vertical-align: middle;
    border-radius:$border-radius;
    border: 1px solid $light-gray;
    &:focus{
      border-color: rgba(0, 163, 136, 0.31);
    }
  }
}
@media (min-width:992px){
  .modal-lg{
    width:980px!important;
  }
}
