@import "~variables.scss";

.container-fluid{
  background-color:$background-white;
  border-bottom:1px solid rgba(0, 0, 0, 0.1);
  height:6%;
  .content-wrapper{
    display:flex;
    justify-content: space-between;
    padding-top:11px;
    padding-bottom:10px;
    .left-content{
      .search-field{
        position:relative;
        min-width:300px;
        margin-left:10px;
        display:inline-block;
        color:$gray-font;
        label{
          position:absolute;
          left:8px;
          top:5px;
          margin-bottom:0;
        }
        input{
          border-radius:$border-radius;
          min-width:300px;
          border:none;
          padding: 5px 10px 5px 25px;
          outline:0;
          vertical-align: middle;
          border-radius:$border-radius;
          border: 1px solid $light-gray;
          &:focus{
            border-color: rgba(0, 163, 136, 0.31);
          }
        }
      }
      .big-btn-wrapper{
          display:inline-block;
          padding-left:10px;
          padding-right:10px;
          border-left: 1px solid $light-gray;
          border-right: 1px solid $light-gray;
          button{
            color:$gray-font;
            background-color:transparent;
            border-radius:4px;
            box-shadow:$default-shadow;
            border:none;
            height:40px;
            font-size:12px;
            padding-left:20px;
            padding-right:20px;
            &:last-child{
              margin-left:10px;
            }
          }
      }
      .small-btn-wrapper{
        display:inline-block;
        padding-left:10px;
        padding-right:10px;
        border-right:1px solid $light-gray;
        button{
          outline:0;
          font-size:12px;
          color:$gray-font;
          background-color:transparent;
          border-radius:6px;
          box-shadow:$default-shadow;
          border:none;
          padding-left:10px;
          padding-right:10px;
          height:30px;
          margin-left:5px;
          &:first-child{
            margin-left:0;
          }
        }
      }
      h5{
        margin-top:5px;
        display:inline-block;
      }
      .green{
        color:$ordbogen-green;
      }
    }
    .right-content{
      margin-top:auto;
      margin-bottom:auto;
      .admin{
        margin-right:5px;
      }
      .plus{
        padding-right:15px;
      }
      p{
        display:inline-block;
        padding-right:10px;
        padding-left:10px;
        border-right: 1px solid $light-gray;
        margin-bottom:0;
        &:last-child{
          border-right:none;
        }
      }
      i{
        vertical-align: sub;
        font-size:25px;
        display:inline-block;
      }
    }
  }
}
        .active-btn{
          background-color:$ordbogen-green!important;
          color:$white-font!important;
          box-shadow: none!important;
        }
