@import "~variables.scss";
.container-fluid{
  background-color:$background-white;
  border-bottom:1px solid rgba(0, 0, 0, 0.1);
  height:6%;
  .content-wrapper{
    display:flex;
    justify-content: space-between;
    padding-top:10px;
    padding-bottom:10px;
    .left-content{
      .search-field{
        position:relative;
        min-width:300px;
        margin-left:10px;
        display:inline-block;
        border-radius:$border-radius;
        border: 1px solid $light-gray;
        outline:0;
        color:$gray-font;
        label{
          position:absolute;
          left:8px;
          top:4px;
          margin-bottom:0;
        }
        input{
          border-radius:$border-radius;
          min-width:300px;
          border:none;
          padding: 5px 10px 5px 25px;
          outline:0;
          vertical-align: middle;
          &:focus{
            outline-color:$ordbogen-green;
          }
        }
      }
      h5{
        margin-top:5px;
        display:inline-block;
      }
      .green{
        color:$ordbogen-green;
      }
    }
    .right-content{
      margin-top:auto;
      margin-bottom:auto;
      .admin{
        margin-right:5px;
      }
      .plus{
        padding-right:15px;
      }
      p{
        display:inline-block;
        padding-right:10px;
        padding-left:10px;
        border-right: 1px solid $light-gray;
        margin-bottom:0;
        &:last-child{
          border-right:none;
        }
      }
      i{
        vertical-align: sub;
        font-size:25px;
        display:inline-block;
      }
    }
  }
}
