<div class="container-fluid">
  <div class="content-wrapper">
    <div class="left-content">
      <h5>Welcome <span class="green">{{UsersService.loggedUser.name}}</span></h5>
      <div class="search-field"><label><i class="fa fa-search"></i></label><input type="text" placeholder="Search"[(ngModel)]="TaskService.currentSearch"></div>
      <div class="big-btn-wrapper" *ngIf="!UsersService.loggedUser.admin">
        <button (click)="toggleMyTask($event)" [class.active-btn]="TaskService.myTask === null">All tasks</button>
        <button (click)="toggleMyTask($event)" [class.active-btn]="TaskService.myTask === UsersService.loggedUser">My tasks</button>
      </div>
      <div class="small-btn-wrapper" tooltip="Toggle these buttons to filter the tasks (On / Off)" placement="bottom">
        <button *ngIf="UsersService.loggedUser.admin" [class.active-btn]="storedValue === 'pending'" (click)="setTab($event)">Pending</button>
        <button [class.active-btn]="storedValue === 'active'" (click)="setTab($event)">Active</button>
        <button [class.active-btn]="storedValue === 'on hold'" (click)="setTab($event)">On hold</button>
        <button [class.active-btn]="storedValue === 'done'" (click)="setTab($event)">Done</button>
      </div>
    </div>
    <div class="right-content">
      <p *ngIf="UsersService.loggedUser.admin"><i class="fa fa-lock admin"></i> Admin Panel:</p>
      <p *ngIf="UsersService.loggedUser.admin" class="pointer plus" tooltip="Add a new task" placement="bottom" (click)="PopupService.togglePopup()"><i class="fa fa-plus-circle fa-fw"></i></p>
      <p *ngIf="UsersService.loggedUser.admin" class="pointer" tooltip="Toggle delete buttons" placement="left" (click)="toggleDelete()"><i class="fa fa-trash-o fa-fw"></i></p>
      <p class="pointer" (click)="toggleNotification()"><i class="fa fa-bell-o fa-fw"></i></p>
      <div class="red-circle" *ngIf="UsersService.loggedUser.admin === false"><p>{{NotificationService.seenNumber}}</p></div>
      <ul class="notification-drpdwn" *ngIf="showNotification">
        <li *ngFor ="let noti of NotificationService.notifications | notiPipe:UsersService.loggedUser">{{noti.title}} <br> {{noti.date}}</li>
      </ul>
    </div>
  </div>
</div>
